@page
@model OOP_LTHDT_2024.Pages.SellInvoice.MH_SuaHoaDonXuatModel
@{
}
@if(Model.HoaDon !=null && !Model.HoaDon.XacNhan)
{
	<form method="post">
		<label for="TenKhachHang">Tên khách hàng:</label>
		<input type="text" id="TenKhachHang" name="TenKhachHang" value="@Model.HoaDon.Ten" /> <br />


		<label for="NgayTaoHD">Ngày tạo hóa đơn:</label>
		<input type="date" id="NgayTaoHD" name="NgayTaoHD" value="@Model.HoaDon.NgayTaoHD.ToString("yyyy-MM-dd")" /> <br />

		<label for="SDT">Số điện thoại: </label>
		<input type="text" id="SDT" name="SDT" value="@Model.HoaDon.SDT" /> <br />

		<label for="DiaChi">Địa chỉ:</label>
		<input type="text" id="DiaChi" name="DiaChi" value="@Model.HoaDon.DiaChi" /> <br />

		<h4>Vui lòng cập nhật lại chi tiết hóa đơn</h4>
		<h3>Chi tiết hóa đơn</h3>
		<table>
			<tr>
				<th>Mã sản phẩm</th>
				<th>Tên sản phẩm</th>
				<th>Đơn giá</th>
				<th>Số lượng</th>
			</tr>
			@for (int i = 0; i < Model.DanhSachSanPham.Count; i++)
			{
				<tr>
					<td>@Model.DanhSachSanPham[i].Ma</td>
					<td>@Model.DanhSachSanPham[i].Ten</td>
					<td>@Model.DanhSachSanPham[i].Gia</td>
					<td><input asp-for="SoLuong[i]" type="number" value="0" min="0" /></td>
				</tr>
			}
		</table>
		<input type="submit" value="Sửa" />
	</form>
}


@Model.Chuoi
