@page
@model OOP_LTHDT_2024.Pages.Product.MH_DanhSachSanPhamModel
@{
}

<div>
	<form method="post">
		<label for="search-bar">Tìm kiếm sản phẩm</label>
		<input type="text" id="search-bar" name="keyword" class="search" placeholder="Nhập tên sản phẩm" />
		<input class="btn-self" type="submit" value="Tìm kiếm"/>
	</form>
</div>
<div>
	<a href="MH_ThemSanPham">Thêm sản phẩm mới</a>
</div>
<div class="table-content">
	<table>
		<tr>
			<th>Mã sản phẩm</th>
			<th>Tên</th>
			<th>Giá</th>
			<th>Năm sản xuất</th>
			<th>Hạn sử dụng</th>
			<th>Công ty sản xuất</th>
			<th>Mặt hàng</th>
			<th class="action">Hành động</th>
		</tr>
		@foreach (var sanPham in Model.DanhSachSanPham)
		{
			<tr>
				<td>@sanPham.Ma</td>
				<td>@sanPham.Ten</td>
				<td>@sanPham.Gia</td>
				<td>@sanPham.NamSanXuat</td>
				<td>@sanPham.HanSuDung</td>
				<td>@sanPham.CongTySanXuat</td>
				<td>@{
						string tenMH = "";
						foreach(var mh in Model.DanhSachMatHang){
							if (mh.Ma == sanPham.MatHang) { tenMH = mh.Ten; break; }
						}
						@tenMH;
						}
				</td>
				<td class="action">
					<a href="MH_SuaSanPham?masp=@sanPham.Ma">Sửa</a>
					<a href="MH_XoaSanPham?masp=@sanPham.Ma">Xoá</a>
				</td>
			</tr>
		}
	</table>

</div>
