@page
@model OOP_LTHDT_2024.Pages.WareHouse.MH_QuanLyKhoModel
@{
	ViewData["Title"] = "Kho";

}



<h2>Sản phẩm tồn kho theo mặt hàng</h2>
<table>
	<tr>
		<th>Mã mặt hàng</th>
		<th>Tên mặt hàng</th>
		<th>Số lượng tồn kho</th>
	</tr>
	@{
		int TongSo = 0;
		foreach (var matHang in Model.DanhSachMatHang)
	{
		<tr>
			<td>@matHang.Ma</td>
			<td>@matHang.Ten</td>
			<td>
					@{
						int SoLuong = 0;
						foreach (var sanPhamLuuKho in Model.ThongKeSanPhamLuuKho)
						{
							if (matHang.DanhSachSanPham.Contains(sanPhamLuuKho[0]))
							{
								SoLuong += sanPhamLuuKho[1];
							}

						}
						TongSo += SoLuong;
						@SoLuong
				}
			</td>
		</tr>
	}
	}
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">Tổng số sản phẩm</td>
		<td>@TongSo</td>
	</tr>
</table>

<h2>Sản phẩm tồn kho theo sản phẩm</h2>
<table>
	<tr>
		<th>Mã sản phẩm</th>
		<th>Tên Sản phẩm</th>
		<th>Số lượng tồn kho</th>
	</tr>
	@foreach (var sanPhamLuuKho in Model.ThongKeSanPhamLuuKho)
	{
		<tr>
			<td>@sanPhamLuuKho[0]</td>
			@foreach (var sp in Model.DanhSachSanPham)
			{
				if (sp.Ma == sanPhamLuuKho[0])
				{
					<td>@sp.Ten</td>
					break;

				}
			}
			<td>@sanPhamLuuKho[1]</td>
		</tr>
	}
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">Tổng số sản phẩm</td>
		<td>@TongSo</td>
	</tr>
</table>



<h2>Tồn kho đã hết hạn sử dụng</h2>
<table>
	<tr>
		<th>Mã sản phẩm</th>
		<th>Tên Sản phẩm</th>
		<th>Số lượng tồn kho</th>
	</tr>
		@foreach (var spk in Model.ThongKeSanPhamLuuKhoHetHanSuDung)
		{
			<tr>
				<td>@spk[0]</td>
					@foreach (var sp in Model.DanhSachSanPham)
					{
						if (sp.Ma == spk[0])
						{
						<td>@sp.Ten</td>
							break;

						}
					}
				<td>@spk[1]</td>
			</tr>

		}
	
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">Tổng số sản phẩm</td>
		<td>@Model.TongSoSanPhamHetHan</td>
	</tr>
</table>



<h2>Danh mục sản phẩm trong kho hiện tại</h2>
<table>
	<tr>
		<th>Mã sản phẩm</th>
		<th>Tên Sản phẩm</th>
		<th>Hạn sử dụng</th>
		<th>Tồn kho</th>
	</tr>
	@foreach (var spk in Model.DanhSachSanPhamLuuKho)
	{
		<tr>
			<td>@spk.Ma</td>
			@foreach (var sp in Model.DanhSachSanPham)
			{
				if (sp.Ma == spk.Ma)
				{
					<td>@sp.Ten</td>
					break;

				}
			}
			<td style="color: @(spk.HanSuDung < Model.Current ? "red" : "black")">
				@spk.HanSuDung
			</td>
			<td>@spk.TonKho</td>
		</tr>

	}
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3">Tổng số sản phẩm</td>
		<td>@TongSo</td>
	</tr>
</table>