@page
@model OOP_LTHDT_2024.Pages.MH_DanhSachSanPhamModel
@{
}

<div>
	<form method="post">
		<label for="search-bar">Tìm kiếm sản phẩm</label>
		<input type="text" id="search-bar" name="keyword" class="search" placeholder="Nhập tên sản phẩm" />
		<input class="btn-self" type="submit" value="Tìm kiếm"/>
	</form>
</div>

<div class="table-content">
	<table>
		<tr>
			<td>Mã sản phẩm</td>
			<td>Tên</td>
			<td>Giá</td>
			<td>Năm sản xuất</td>
			<td>Hạn sử dụng</td>
			<td>Công ty sản xuất</td>
			<td>Mặt hàng</td>
			<td class="action">Hành động</td>
		</tr>
		@foreach (var sanPham in Model.DanhSachSanPham)
		{
			<tr>
				<td>@sanPham.MaSP</td>
				<td>@sanPham.Ten</td>
				<td>@sanPham.Gia</td>
				<td>@sanPham.NamSanXuat</td>
				<td>@sanPham.HanSuDung</td>
				<td>@sanPham.CongTySanXuat</td>
				<td>@{
						string tenMH = "";
						foreach(var mh in Model.DanhSachMatHang){
							if (mh.MaMH == sanPham.MatHang) { tenMH = mh.TenMH; break; }
						}
						@tenMH;
						}
				</td>
				<td class="action">
					<a href="MH_Sua_SanPham?masp=@sanPham.MaSP">Sửa</a>
					<a href="MH_Xoa_SanPham?masp=@sanPham.MaSP">Xoá</a>
				</td>
			</tr>
		}
	</table>

</div>
