@page
@model OOP_LTHDT_2024.Pages.MH_Sua_SanPhamModel
@{
}
@if(Model.SanPham != null&& string.IsNullOrEmpty(Model.Chuoi))
{
	<form method="post">
		<label for="TenSanPham">Tên sản phẩm:</label>
		<input type="text" name="TenSanPham" value="@Model.SanPham.Ten" /> <br />
		<label for="Gia">Giá sản phẩm:</label>
		<input type="number" name="Gia" value="@Model.SanPham.Gia" /> <br />
		<label for="CongTySanXuat">Công ty sản xuất:</label>
		<input type="text" name="CongTySanXuat" value="@Model.SanPham.CongTySanXuat" /> <br />
		<label for="NamSanXuat">Năm sản xuất:</label>
		<input type="number" name="NamSanXuat" value="@Model.SanPham.NamSanXuat" /> <br />
		<label for="HanSuDung">Hạn sử dụng:</label>
		<input type="date" name="HanSuDung" value="@Model.SanPham.HanSuDung.ToString("yyyy-MM-dd")"  /> <br />
		<label for="MatHang">Mặt hàng:</label>
		<select name="MatHang">

			@foreach (var mh in Model.DsMatHang)
			{
				if(mh.MaMH== Model.SanPham.MatHang)
				{
					<option value="@mh.MaMH" selected>@mh.TenMH</option>;
					continue;
				}
				<option value="@mh.MaMH">@mh.TenMH</option>

			}
		</select> <br />
		<input type="submit" value="Sửa" />
	</form>
}
else
{
	@Model.Chuoi;
}